<!-- QGDS Banner Component -->
  <div class="mobile-banner"></div>
  <div class="qld-banner qld-banner-grid banner-default hero-banner dark none col-lg-7 offset-lg-0">
    <div class="container-fluid" data-cy='hero-banner'>
      <div class="banner-inner">
        <div class="banner-content banner-content-full">
          <h1 class="banner-title-wrap">
            <span class="banner-title">{{ .Params.hero.title }}</span>
          </h1>
          <div class="banner-abstract banner-hero-abstract">
            {{ .Params.hero.abstract }}
          </div>
          <div class="banner-cta" role="group" aria-label="Available options">
            <div class="cta-buttons">


              <a class="btn btn-primary " href="https://google.com" target="_blank" data-progress-label="Loading">

                <span class="btn-label-default">{{ .Params.hero.buttonText }}</span>
                <span class="btn-label-progress">Loading</span>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>