<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />

<!-- Slider main container -->
<div class="swiper assetSwiper"
     data-blob-url="{{ getenv "BLOB_BASE_URL" }}"
     data-config="{{ .Params.carousel.config | default "hero" }}"
     data-show-modal="{{ .Params.carousel.showmodal | default false }}"
     data-count="{{ .Params.carousel.count }}"
>
    <div class="swiper-wrapper"></div>
    <div class="swiper-loading">
        <div class="placeholder-shimmer"></div>
    </div>
    <div class="swiper-pagination"></div>
    {{ if .Params.carousel.includeButtons }}
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    {{ end }}
</div>

{{ if .Params.carousel.showModal }}
<div id="image-modal" class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-title">
  <img id="modal-img" src="" alt="">
  <button id="close-modal" aria-label="Close modal">&times;</button>
</div>
{{ end }}

